<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EmailUser" value="ilkmertdoner@gmail.com" />
		<add key="EmailPassword" value="wnab kbkb jpqs acmn" />
	</appSettings>

	<connectionStrings>
		<add name="ShowTrackConnection"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ShowTrack;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>